* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url(Assets/amazon_logo.png);
    height: 60px;
    width: 100%;
    background-size: cover;
}

.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 0.5px solid white;
    
}
/* Box 2*/
.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}
.add-second{
    color: white;
    margin-left: 5px;
}
.add-icon{
    display: flex;
    align-items: center;
}

/*Box 3*/
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: orange;
    width: 65%;
    height: 40px;
    border-radius: 5px;
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #0f1111;
}
.nav-search:hover{
    border: 2px solid orange;
}

/*Box 4 */
span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}

.nav-cart i {
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}

/** Pannel **/
.pannel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.pannel-ops p {
    display: inline;
    margin-left: 1%;
}

.pannel-ops{
    width: 80%;
    font-size: 0.85rem;
}

.pannel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}

/**hero section**/

.hero-section{
    background-image: url(Assets/hero_image.jpg);
    background-size: cover;
    height: 350px;
    margin-left: 0.85%;
    margin-right: 0.85%;
    display: flex;
    justify-content: center;  
    align-items: flex-end;  
}

.hero-message {
    background-color: white;
    width: 97.5%;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    margin-bottom: 60px;
    
}
/**Shop Section**/
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    border: 2px solid transparent;
    height: 400px;
    width: 23%;
    padding: 20px 0px 15px;
    background-color: white;
    margin-top: 15px;
}


.box-img{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content{
    margin-left: 1rem ;
    margin-right: 1rem;
}
.box-content p{
    color: #007185;
}

footer{
    margin-top: 15px;
}

.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
}

.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 400px;
    display: flex;
    justify-content: space-evenly;

}
ul{
    margin-top: 20px;
}

ul a{
    display: block;
    font-size: 1.1rem;
    margin-top: 10px;
    color: #DDDDDD;
}
ul p {
    font-weight: 700;
    font-size: 1.3rem;
}
.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 1px solid #3a4553;
    height: 70px;
    
}
.logo{
    background-image: url(Assets/amazon_logo.png);
    height: 60px;
    width: 100px;
    background-size: cover;
    display: flex;
    justify-self: center;
    align-self: center;

}

.foot-panel4{
    background-color: #0f1111;
    color: white;
    height: 70px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.pages{
    font-size: 0.8rem;
    text-align: center;
    padding-top: 15px;
    display: flex;
    justify-content: space-evenly;
    margin-left: 25%;   
    margin-right: 25%;   
    
}

.copy{
    padding-top: 8px;
    font-size: 0.8rem;
    text-align: center;
}
